@import "core/reset";
@import "core/variables";
@import "layout/header";
@import "layout/design";
@import "layout/fill";
@import "layout/share";

.main {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.card {
  background-image: linear-gradient(to bottom, #bfcdd0, #dde9ed);
  height: 45.7rem;

  display: flex;
  align-items: center;
  justify-content: center;

  @media all and (min-width: 768px) {
    width: 40%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__reset {
    margin-top: 3.8rem;
    margin-bottom: 2rem;
    border-radius: 1.5rem;
    width: 7.5rem;
    height: 3rem;
    border: 0.1rem solid #fff;

    color: #54585a;
    font-size: 1.2rem;
    line-height: 1.67;
    font-family: #opensans;
    text-decoration: none;

    align-self: flex-start;
  }

  &__header {
    padding: 2.1rem 1.4rem 1rem 2rem;
    background-color: #ffffff;
  }

  &__name {
    font-family: $montserrat;
    font-size: 1.8rem;
    line-height: 1.11;
    margin-bottom: 0.4rem;
  }

  &__role {
    font-family: $montserrat;
    font-size: 1.6rem;
    line-height: 1.25;
  }

  &__img {
    width: 100%;
  }
}

.features {
  margin: 2.7rem 0rem 3rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media all and (min-width: 768px) {
    width: 60%;
    margin: 4rem 2rem;
  }
}

.card-container {
  width: 24rem;
  height: 32.9rem;
}

.card__img-container {
  width: 24rem;
  height: 20rem;
}
