<section class="collapsable-box design">
  <h2 class="collapsable-box__title design__title">Diseña</h2>
  <div class="collapsable-box__sub-box color-box">
    <h3 class="color-box__title"></h3>
    <div class="color-box__form pallete">
      <label for="palette1">
        <input id="palette1" type="radio" value="palette1" name="palette1" />
        <div class="pallete__box">
          <div class="pallete__box--darkGreen"></div>
          <div class="pallete__box--medGreen"></div>
          <div class="pallete__box--lightGreen"></div>
        </div>
      </label>
    </div>
    <div class="color-box__form pallete">
      <label for="palette1">
        <input id="palette1" type="radio" value="palette1" name="palette1" />
        <div class="pallete__box">
          <div class="pallete__box--darkRed"></div>
          <div class="pallete__box--medRed"></div>
          <div class="pallete__box--lightRed"></div>
        </div>
      </label>
    </div>
    <div class="color-box__form pallete">
      <label for="palette1">
        <input id="palette1" type="radio" value="palette1" name="palette1" />
        <div class="pallete__box">
          <div class="pallete__box--darkGray"></div>
          <div class="pallete__box--beige"></div>
          <div class="pallete__box--lightGray"></div>
        </div>
      </label>
    </div>
  </div>
</section>
