<section class="collapsable-box design">
  <h2 class="collapsable-box__title design__title">Diseña</h2>
  <div class="collapsable-box__sub-box color-box">
    <h3 class="color-box__title">Colores</h3>
    <div class="color-box__form palette">
      <label for="palette1">
        <input id="palette1" type="radio" value="palette1" name="palette1" />
        <div class="palette__box">
          <div class="palette__box--darkGreen"></div>
          <div class="palette__box--medGreen"></div>
          <div class="palette__box--lightGreen"></div>
        </div>
      </label>
    </div>
    <div class="color-box__form palette">
      <label for="palette2">
        <input id="palette2" type="radio" value="palette2" name="palette2" />
        <div class="palette__box">
          <div class="palette__box--darkRed"></div>
          <div class="palette__box--medRed"></div>
          <div class="palette__box--lightRed"></div>
        </div>
      </label>
    </div>
    <div class="color-box__form palette">
      <label for="palette3">
        <input id="palette3" type="radio" value="palette3" name="palette3" />
        <div class="palette__box">
          <div class="palette__box--darkGray"></div>
          <div class="palette__box--beige"></div>
          <div class="palette__box--lightGray"></div>
        </div>
      </label>
    </div>
  </div>
</section>
