<section class="collapsable-box design">
  <h2 class="collapsable-box__title design__title">Diseña</h2>
  <div class="collapsable-box__sub-box color-box">
    <h3 class="color-box__title"></h3>
    <div class="color-box__palette">
      <label for="palette1">
        <input id="palette1" type="radio" value="palette1" name="palette1" />
        <div class="palette3">
          <div class="green-palette--dark"></div>
          <div class="green-palette--medium"></div>
          <div class="green-palette--light"></div>
        </div>
      </label>
    </div>
    <div>
      <label for="paymentmethod2">
        <input
          id="paymentmethod2"
          type="radio"
          value="creditcard"
          name="paymentmethods"
        />
        Tarjeta de crédito
      </label>
    </div>
    <div>
      <label for="paymentmethod3">
        <input
          id="paymentmethod3"
          type="radio"
          value="paypal"
          name="paymentmethods"
        />
        Paypal
      </label>
    </div>
  </div>
</section>
