<section class="collapsable-box fill">
  <i class="far fa-keyboard collapsable-box__icon"></i>
  <h2 class="collapsable-box__title fill">
    Rellena
  </h2>

  <form class="form" action="" method="">
    <partial src="_form-element.html" label="Nombre completo" name="name" id="name" placeholder="Ej: Sally Jill"></partial>
    <partial src="_form-element.html" label="Puesto" name="role" id="role" placeholder="Ej: Front-end unicorn"></partial>
    <partial src="_img-form.html"></partial>
    <partial src="_form-element.html" label="Email" name="email" id="email" placeholder="Ej: sally-hill@gmail.com">
    </partial>
    <partial src="_form-element.html" label="Teléfono" name="phone" id="phone" placeholder="Ej: 555-55-55-55"></partial>
    <partial src="_form-element.html" label="Linkedin" name="linkedin" id="linkedin" placeholder="Ej: linkedin.com/sally.hill"></partial>
    <partial src="_form-element.html" label="Github" name="github" id="github" placeholder="Ej: @sally-hill"></partial>

  </form>