<header class="header">
  <img class="header__logo" src="./assets/images/logo-profilecards.svg" title="¡Crea tu propia tarjeta de visita!" alt="Awesome Profile Cards" />
  <h2 class="header__title">Crea tu tarjeta de visita</h2>
  <p class="header__text">
    Crea mejores contactos profesionales de forma fácil y cómoda
  </p>

  <div class="header__steps">
    <i class="far fa-object-ungroup"></i>
    <i class="far fa-keyboard"></i>
    <i class="fas fa-share-alt"></i>
    <p class="grid-text">Diseña</p>
    <p class="grid-text">Rellena</p>
    <p class="grid-text">Comparte</p>
  </div>

  <a href="card.html" class="start-button">comenzar</a>
</header>
