<section class="collapsable-box hidden">
  <header class="collapsable-box__header js-trigger">
    <div>
      <i class="fas fa-share-alt collapsable-box__icon"></i>
      <h2 class="collapsable-box__title">Comparte</h2>
    </div>
    <i class="fas fa-chevron-down arrow"></i>
  </header>


  <section class="share__container collapsable-content js-content">

    <button class="button">
      <i class="far fa-address-card collapsable-box__icon"></i>
      <h2 class="button__title">Crear tarjeta</h2>
    </button>
    <div class="share__twitter hiddenButton">
      <span class="share__twitter-message"> Tu tarjeta ha sido creada: </span>
      <p class='share__twitter-url js-response'></p>
      <a target="_blank" href="" class="js-share__twitter share__twitter-button">
        <i class="fab fa-twitter"></i>
        Compartir en Twitter
      </a>
    </div>
  </section>

</section>