<div class="collapsable-box share">
  <div class="i-h2-i js-collapsable-trigger">
    <div class="i-h2-i__ih2">
      <i class="fas fa-share-alt collapsable-box__icon"></i>
      <h2 class="collapsable-box__title">Comparte</h2>
    </div>
    <div class="i-h2-i__iArrow">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>

  <section class="share__container js-collapsable-content">
    <div class="button__box">
      <input class="button__input" type="submit" name="submit__button" id="submit__button" value="Compartir tarjeta">
      <button class="button">
        <i class="far fa-address-card collapsable-box__icon"></i>
        <h2 class="button__title">Crear tarjeta</h2>
      </button>
    </div>
    <div class="share__twitter hidden">
      <h2>Tu url me mola</h2>
      <a href=“https://twitter.com/share?ref_src=twsrc%5Etfw” class=“twitter-share-button” data-text=“¡Échale un vistazo a la tarjeta de visita que he creado en Awesome Profile Cards! Prueba a hacer la tuya ;)” data-show-count=“false”>Compartir en Twitter</a>
      <script async src=“https://platform.twitter.com/widgets.js” charset=“utf-8"></script>
    </div>
  </section>