<section class="collapsable-box hidden">
  <header class="collapsable-box__header js-trigger">
    <div>
      <i class="fas fa-share-alt collapsable-box__icon"></i>
      <h2 class="collapsable-box__title">Comparte</h2>
    </div>
    <i class="fas fa-chevron-down arrow"></i>
  </header>

  <section class="share__container collapsable-content js-content">
    <div class="button__box">
      <input class="button__input" type="submit" name="submit__button" id="submit__button" value="Compartir tarjeta">
      <button class="button">
        <i class="far fa-address-card collapsable-box__icon"></i>
        <h2 class="button__title">Crear tarjeta</h2>
      </button>
    </div>
  </section>
  <!-- <div class="js-share__twitter share__twitter">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="¡Échale un vistazo a la tarjeta de visita que he creado en Awesome Profile Cards! Prueba a hacer la tuya ;)" data-hashtags="AwesomeProfileCards" data-lang="es" data-show-count="false">Compartir en Twitter</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div> -->
  <div class="share__twitter">
    <span class="share__twitter-message"> Tu tarjeta ha sido creada: </span>
    <p class='share__twitter-url js-response'>hola</p>
    <button href=" https://twitter.com/share?ref_src=twsrc%5Etfw" class="js-share__twitter share__twitter-button">
      <i class="fab fa-twitter"></i>
      <p>Compartir en Twitter</p>

    </button>
  </div>
</section>
