<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="./assets/css/card.css" />
  <title>Design your card</title>

  <script src="https://kit.fontawesome.com/b9e106a0ae.js" crossorigin="anonymous"></script>
</head>

<body>
  <partial src="_header.html"></partial>
  <main class="main">
    <section class="card">
      <div class="card__wrapper">
        <a class="card__reset js-card-reset" href="#" title="Resetea los cambios">
          <i class="far fa-trash-alt"></i> Reset
        </a>
        <article class="card-container js-card-container">
          <div class="user-details">
            <header class="card__header js-card__header">
              <h1 class="card__name js-card__name">
                Nombre apellido
              </h1>
              <h2 class="card__role js-card__role">
                Front-end developer
              </h2>
            </header>
          </div>
          <div class="card__img-container">
            <!--             <img class="card__img" src="../assets/images/adalaber.jpg" title="Tu fotografía"
              alt="Fotografía de la tarjeta de visita" /> -->
          </div>
          <footer class="card__social">
            <a class="card__icon js-card__icon js-card__icon--phone js-icon-deactivated" target="_blank" title="Contacta por teléfono" href=""><i class="fas fa-mobile-alt"></i></a>
            <a class="card__icon js-card__icon js-card__icon--email js-icon-deactivated" target="_blank" title="Escríbeme por email" href=""><i class="far fa-envelope"></i></a>
            <a class="card__icon js-card__icon js-card__icon--linkedin icon-deactivated js-icon-deactivated" target="_blank" title="Añádeme a tu red de Linkedin" href=""><i class="fab fa-linkedin-in"></i></a>
            <a class="card__icon js-card__icon js-card__icon--github js-icon-deactivated" target="_blank" title="Visita mi portfolio de Github" href=""><i class="fab fa-github-alt"></i></a>
          </footer>
        </article>
      </div>
    </section>
    <section class="features">
      <partial src="_design.html"></partial>
      <partial src="_fill.html"></partial>

    </section>
  </main>
  <partial src="_footer.html"></partial>


  <script type="text/javascript" src="./assets/js/main.js"></script>
</body>

</html>