<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="./assets/css/index.css" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap" rel="stylesheet" />
  <title>Awesome profile cards!</title>

  <script src="https://kit.fontawesome.com/b9e106a0ae.js" crossorigin="anonymous"></script>
</head>


<body class="page">
  <partial src="_hero.html"></partial>
  <partial src="_footer.html"></partial>
</body>

</html>