.collapsable-box {
  font-family: $opensans;
  color: $grey;
  min-width: 32rem;
  border-bottom: solid 0.2rem $lightGrey;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    color: $mediumOrange;
    font-size: 1.8rem;
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem;
    display: inline-block;
    text-transform: uppercase;
  }
}

.collapsable-content {
  text-transform: uppercase;
}

.hidden {
  display: none;
}
