.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid 0.2rem $lightGrey;
  padding-top: 1.5rem;

  &__label {
    font-family: $opensans;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $darkGreen;
    margin-bottom: 0.7rem;
  }

  &__input {
    width: 28.1rem;
    height: 3rem;
    border: 0.1rem solid $lightGreen;
    margin-bottom: 2rem;
    font-family: $opensans;
    font-size: 1.4rem;
    line-height: 1.43;
    padding-left: 1rem;
    width: 100%;

    &--img {
      display: flex;
    }

    &--miniature {
      width: 3rem;
      height: 3rem;
      border: solid 0.1rem $lightGreen;
      display: inline;
      margin-left: 2rem;
      background-size: cover;
      background-position: center;
    }
  }

  .fieldset__fill {
    border: none;
  }

  .form__file {
    display: none;
  }

  .form__file--label {
    width: 14rem;
    height: 3rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    background-color: $mediumOrange;
    border: 0;
    color: $white;
    font-family: $opensans;
    font-size: 1.4rem;
    line-height: 1.43;
    padding: 0.5rem 2rem;
    text-transform: none;
  }
}
