.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11.1rem;

    @media all and (min-width: 768px) {
    justify-content: start;
    padding-left: 4rem;
    }
    &__img {
        width: 20.1rem;
    }
}