/* Fonts */
$montserrat: "Montserrat", sans-serif;
$opensans: "Open Sans", sans-serif;
$merriweather: "Merriweather", serif;

/* Colors */
$black: #000000;
$darkGreen: #114e4e;
$mediumBlue: #438792;
$lightGreen: #a2deaf;
$pinkishBeige: #f9f4dc;
$white: #ffffff;
$mediumOrange: #e17334;
$darkRed: #420101;
$red: #bd1010;
$darkOrange: #e95626;
$bluishGray: #3e5b65;
$yellowishBeige: #eab052;
$lightBlue: #a0c0cf;
