/* Fonts */
$montserrat: "Montserrat",
sans-serif;
$opensans: "Open Sans",
sans-serif;
$merriweather: "Merriweather",
serif;

/* Colors */
$black: #000000;
$pinkishBeige: #f9f4dc;
$white: #ffffff;
$grey: #54585a;
$silver: #bfcdd0;
$paleGrey:#dde9ed;
$lightGrey: #d8d8d8;
$mediumOrange: #e17334;
$brownishGrey: #6b6b6b;
$whiteTwo:#d8d8d8;
$lightPink: #f5f5f5;
$lightGrey: #d5d5d5;

/* PALLETTES */

$darkGreen: #114e4e;
$mediumBlue: #438792;
$lightGreen: #a2deaf;


$darkRed: #420101;
$red: #bd1010;
$darkOrange: #e95626;

$bluishGray: #3e5b65;
$yellowishBeige: #eab052;
$lightBlue: #a0c0cf;

/* Buttons */

$azure: #00a0f5;
